$font: 'Open Sans', sans-serif;;
$font_one: 'Arial', 'sans-serif';
$bg: crimson;

body {
	font-family: $font;
	margin: 0;
	padding: 0;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    h1,h2,h3{
    	text-transform: uppercase;
    }
    a{
    	transition: all .3 ease-in-out;
    }
    .content{
    	.content-title{
    		background: $bg;
    		padding: 3% 3% 2%;
    		color: white;
    		position: relative;
    		.arrow{
    			position: absolute;
    			right: 5%;
    			top: 5%;
                width: 40px;
                height: 40px;
                opacity: .7;
                text-indent: -9999999px;
                cursor: pointer;
                transform: scale(0.8);
                background: url(../images/scroll.svg) center center no-repeat / 100%;
                transition: all .4s ease-in-out;
                &:hover{
                    transform: scale(1);
                    opacity: 1;
                }
    		}
    		.intro-badge{
    			border-radius: 50%;
    			width: 100px;
    			height: 100px;
    			background: url(../images/me.jpg) center center / cover;
    			// filter: grayscale(100%);
    			display: inline-block;
    			margin-bottom: 1rem;
    			text-indent: -99999px;
    			box-shadow: 0 0 20px rgba(68,68,68,0.6);
    		}
    		h1{
    			text-transform: uppercase;
    			letter-spacing: 1px;
    			font-weight: 300;
    			margin: 0;
    		}
    		h2{
    			margin: 0 0 1rem;
    		}
    		p{
    			width: 50%;
    			margin: 0 auto;
    			line-height: 1.7;
    		}
    		.btn{
    			margin-top: 3rem;
                transition: all 0.3s ease-in-out;
                border-radius: 2px;
                &:hover{
                    background: white;
                    color: $bg;
                }
    		}
    		.social{
    			width: 40%;
    			display: flex;
    			flex-direction: row;
    			align-items: center;
    			justify-content: space-around;
    			margin: 50px auto 0;
    			padding: 0;
    			li{
    				list-style: none;
    				
    				a{
    					display: inline-block;
    					width: 40px;
    					height: 30px;
    					text-indent: -999999px;
    					transform: scale(0.7);
    					opacity: .6;
    					background:{
    						position: center center;
    						repeat: no-repeat;
    						size: auto 30px;
    					}
    					transition: all .4s ease-in-out;
    					// transition-timing-function: ease-in-out;
    					$social:(linkedin,instagram,blog,github,codewars,strava);
    					@each $icon in $social {
							&.#{$icon}{	
								background-image: url(../images/icon-#{$icon}.svg);	
							}
						}
						&:hover{
    						transform: scale(1);
    						opacity: 1;
    					}
    				}
    			}
    		}
    	}
    	.main{
    		a{
    			color: $bg;
   				text-decoration: none;
   				font-weight: bold;
    		}
    		span{
				font-weight: 300;
				font-size: 90%;
				margin-left: 10px;
    		}
    		ul{
    			li{
    				margin-bottom: 4px;
                     &.list-content{
                        list-style: none;
                        padding: 0 10px;
                        opacity: .5;
                        margin-bottom: 10px;
                    }
    			}
    		}
    		display: flex;
			flex-direction: row;
			justify-content: center;
			padding: 5% 3%;
			.col-1{
				width: 30%;
			}
			.col-2{
				width: 60%;
			}
    	}
    }
}
footer{
    padding: 20px 0;
    background: rgba(black,0.03);
    p{
        font-size: 12px;
    }
}
.btn{
	display: inline-block;
	padding: 1rem;
	border: 1px solid white;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.text-center{
	text-align: center;
}
