/*Author: Silvana Ramírez*/
/*Year: 2015*/
/*Css convention: BEM--> https://en.bem.info*/

@import 'animate';
@import 'font';

$mobile: 480px;
$tablet: 768px;

/*General Styles*/

html, body, ul, p, h1, h2, h3{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.01rem;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
	background-color: black;

	@media(max-width: $mobile) {
		text-align: center;
	}
}

a, p, h1, h2, h3{
	color: white;

	@media(max-width: $mobile) {
        text-align: center;
    }
}

a{
	text-decoration: none;

	transition-property: color;
	transition-duration: .2s;
	transition-timing-function: linear;

	&:hover{
		color: greenyellow;
	}
}

ul{
	list-style: none;
	dsiplay:flex;

	@media (max-width: $tablet) {
		justify-content: center;
		margin-top: 2rem;
	}

	li{
		display: inline-block;

	}
}
.cover{
	background: black;
	position: fixed;
	top: 0;
	width:100%;
	height:100%;
	z-index: 10000;
	text-align: center;
	vertical-align: middle;

	&__title{
		margin-top: 200px;
		text-transform: uppercase;
		color: greenyellow;
		font-weight: normal;
	}
}

.back{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;
	width:100%;
	height:100%;
	&__dot{
		background: white;
		border-radius:50%;
		&-1{
			width:100px;
			height:100px;
			opacity:.2;
			-webkit-animation: dot_one 9s 1s infinite linear;
			-moz-animation: dot_one 9s 1s infinite linear;
			-ms-animation: dot_one 9s 1s infinite linear;
			-o-animation: dot_one 9s 1s infinite linear;
			animation: dot_one 9s 1s infinite linear;
		}
		&-2{
			width:80px;
			height:80px;
			opacity:.25;
			-webkit-animation: dot_two 10s 1s infinite linear;
			-moz-animation: dot_two 10s 1s infinite linear;
			-ms-animation: dot_two 10s 1s infinite linear;
			-o-animation: dot_two 10s 1s infinite linear;
			animation: dot_two 10s 1s infinite linear;
		}
		&-3{
			width:60px;
			height:60px;
			opacity:.3;
			-webkit-animation: dot_three 11s 1s infinite linear;
			-moz-animation: dot_three 11s 1s infinite linear;
			-ms-animation: dot_three 11s 1s infinite linear;
			-o-animation: dot_three 11s 1s infinite linear;
			animation: dot_three 11s 1s infinite linear;
		}
		&-4{
			width:60px;
			height:60px;
			opacity:.35;
			-webkit-animation: dot_four 12s 1s infinite linear;
			-moz-animation: dot_four 12s 1s infinite linear;
			-ms-animation: dot_four 12s 1s infinite linear;
			-o-animation: dot_four 12s 1s infinite linear;
			animation: dot_four 20s 1s infinite linear;
		}
		&-5{
			width:60px;
			height:60px;
			opacity:.4;
			-webkit-animation: dot_five 15s 1s infinite linear;
			-moz-animation: dot_five 15s 1s infinite linear;
			-ms-animation: dot_five 15s 1s infinite linear;
			-o-animation: dot_five 15s 1s infinite linear;
			animation: dot_five 15s 1s infinite linear;
		}
	}
	&__level{
		width: 100%;
		height: 100%;
		position: absolute;
		&-1{
			z-index: 1;
			-webkit-animation: level 6s 1s infinite linear alternate-reverse;
			-moz-animation: level 6s 1s infinite linear alternate-reverse;
			-ms-animation: level 6s 1s infinite linear alternate-reverse;
			-o-animation: level 6s 1s infinite linear alternate-reverse;
			animation: level 6s 1s infinite linear alternate-reverse;
		}
		&-2{
			z-index: 2;
			-webkit-animation: level_one 15s 1s infinite linear alternate-reverse;
			-moz-animation: level_one 15s 1s infinite linear alternate-reverse;
			-ms-animation: level_one 15s 1s infinite linear alternate-reverse;
			-o-animation: level_one 15s 1s infinite linear alternate-reverse;
			animation: level_one 15s 1s infinite linear alternate-reverse;
		}
	}
}

.header,.section,.footer{
	width: 90%;
	padding: 1% 5%;
}
.header{

	&__text{
		font-size: 1rem;
	}

	.nav{
		margin-top: 10px;

		@media (max-width: $tablet) {
			margin-top: 2rem;
		}

		&__link{
			span{
				margin: 0 .2rem;
			}
		}
	}
}

.section{
	a{
		text-decoration: underline;
	}
	
	&__text_big{
		text-transform: uppercase;
		margin: 0;
		letter-spacing: 2px;

		@media(max-width: $mobile) {
	       margin: 2rem 0;
	       font-size: 1.5rem;
	    }
	}
	&__text_medium{
		text-transform: uppercase;

		@media(max-width: $mobile) {
	       margin: 2rem 0;
	       font-size: 1.2rem;
	    }
	}

	&__list{
		border-bottom: 1px solid rgba(white,.1);
		padding-bottom: 50px;
		margin-bottom: 30px;

		&__item{
			display: block;
			width: 100%;
			margin: 5px 0;
			color: grey;
		}
	}

	&__line{
		border: none;
		border-top: 4px solid white;
		width: 50%;
		display: block;
		margin: 10rem 0 2rem 0;

		@media (max-width:768px) {
			width: 100%;
			margin: 4rem 0 2rem 0;
	    }

		@media(max-width: $mobile) {
			width: 100%;
			margin: 3rem 0;
	    }

	}
	&__button{
		background: mediumvioletred;
		padding: 1rem;
		margin: 2rem 0 1rem;
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.02rem;
		border-radius: 2%;
		color: white;

		-webkit-animation: constant_hor 4s 1s infinite linear alternate;
		-moz-animation: constant_hor 4s 1s infinite linear alternate;
		-ms-animation: constant_hor 4s 1s infinite linear alternate;
		-o-animation: constant_hor 4s 1s infinite linear alternate;
		animation: constant_hor 4s 1s infinite linear alternate;

		transition-property: background;
		transition-duration: .2s;
		transition-timing-function: linear;

		&:hover{
			color: black;
		}

		@media(max-width: $mobile) {
	       background-color: mediumvioletred;

	       -webkit-animation: btn_contact_mobile 4s 1s infinite linear alternate;
			-moz-animation: btn_contact_mobile 4s 1s infinite linear alternate;
			-ms-animation: btn_contact_mobile 4s 1s infinite linear alternate;
			-o-animation: btn_contact_mobile 4s 1s infinite linear alternate;
			animation: btn_contact_mobile 4s 1s infinite linear alternate;
	    }
	}
	&__button{
		margin: 2rem 0 1rem;
	}
	&__buttonList{
		margin: 0;
	}
}

.footer{
	&__text{
		font-size: 0.75rem;
	}
}


/*** ICON FONT *****/


.icon-location:before {
	content: "\e901";
}
.icon-facebook3:before {
	content: "\e903";
}
.icon-instagram:before {
	content: "\e904";
}
.icon-twitter:before {
	content: "\e905";
}
.icon-github:before {
	content: "\e908";
}
.icon-tumblr2:before {
	content: "\e909";
}
.icon-linkedin:before {
	content: "\e90b";
}
.icon-be:before {
	content: "\e900";
	font-size: 1.5em;
	margin-top: 5px;
}
.icon-heart:before {
	content: "\e902";
	color: red;
}
.icon-pm:before {
	content: "\e906";
}
.icon-runner:before {
	content: "\e907";

	-webkit-animation: fade_right 4s 1s linear alternate;
	-moz-animation: fade_right 4s 1s linear alternate;
	-ms-animation: fade_right 4s 1s linear alternate;
	-o-animation: fade_right 4s 1s linear alternate;
	animation: fade_right 4s 1s linear alternate;

	@media (max-width: $mobile) {
		display: none;
	}
}


