@charset "UTF-8";
/*Author: Silvana Ramírez*/
/*Year: 2015*/
/*Css convention: BEM--> https://en.bem.info*/
/*
constant_hor = Constantly moving horizontally
fade_right = moves right and fades
*/
@keyframes constant_hor {
  0% {
    background: mediumvioletred;
    margin-left: 0; }
  50% {
    background: deeppink;
    margin-left: 5rem; }
  100% {
    background: darkviolet;
    margin-left: 0rem; } }
@keyframes btn_contact_mobile {
  0% {
    background: mediumvioletred;
    margin-left: -5rem; }
  50% {
    background: deeppink;
    margin-left: 8rem; }
  100% {
    background: darkviolet;
    margin-left: -5rem; } }
@keyframes fade_right {
  0% {
    opacity: 1;
    margin-left: 0; }
  100% {
    opacity: 0;
    margin-left: 700px; } }
/*
Dots for Background
*/
@keyframes level {
  0% {
    opacity: .5;
    transform: initial; }
  25% {
    opacity: .8; }
  50% {
    opacity: .3;
    -webkit-transform: translate(5%) rotate(40deg);
    transform: translate(5%) rotate(40deg); }
  75% {
    opacity: .8; }
  100% {
    opacity: .5;
    transform: initial; } }
@keyframes level_one {
  0% {
    opacity: .7; }
  25% {
    opacity: .8; }
  50% {
    opacity: .9;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  75% {
    opacity: .4; }
  100% {
    opacity: .7; } }
@keyframes dot_one {
  0% {
    opacity: .2;
    transform: initial; }
  50% {
    opacity: .3;
    -webkit-transform: scale(2, 2) translate(500px, 200px);
    transform: scale(2, 2) translate(500px, 200px); }
  100% {
    opacity: .2;
    transform: initial; } }
@keyframes dot_two {
  0% {
    opacity: .25;
    transform: initial; }
  60% {
    opacity: .4;
    -webkit-transform: scale(3, 3) translate(300px, 100px);
    transform: scale(3, 3) translate(300px, 100px); }
  100% {
    opacity: .25;
    transform: initial; } }
@keyframes dot_three {
  0% {
    opacity: .25;
    transform: initial; }
  60% {
    opacity: .4;
    -webkit-transform: scale(4, 4) translate(-300px, -100px);
    transform: scale(4, 4) translate(-300px, -100px); }
  100% {
    opacity: .25;
    transform: initial; } }
@keyframes dot_four {
  0% {
    opacity: .35;
    transform: initial; }
  30% {
    opacity: .4;
    -webkit-transform: scale(10, 10) translate(-500px, -300px);
    transform: scale(10, 10) translate(-500px, -300px); }
  100% {
    opacity: .35;
    transform: initial; } }
@keyframes dot_five {
  0% {
    opacity: .35;
    transform: initial; }
  30% {
    opacity: .4;
    -webkit-transform: scale(8, 8) translate(-100px, -100px);
    transform: scale(8, 8) translate(-100px, -100px); }
  100% {
    opacity: .35;
    transform: initial; } }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?jonav");
  src: url("../fonts/icomoon.eot?jonav#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?jonav") format("truetype"), url("../fonts/icomoon.woff?jonav") format("woff"), url("../fonts/icomoon.svg?jonav#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*General Styles*/
html, body, ul, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.01rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: black; }
  @media (max-width: 480px) {
    body {
      text-align: center; } }

a, p, h1, h2, h3 {
  color: white; }
  @media (max-width: 480px) {
    a, p, h1, h2, h3 {
      text-align: center; } }

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear; }
  a:hover {
    color: greenyellow; }

ul {
  list-style: none;
  dsiplay: flex; }
  @media (max-width: 768px) {
    ul {
      justify-content: center;
      margin-top: 2rem; } }
  ul li {
    display: inline-block; }

.cover {
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
  vertical-align: middle; }
  .cover__title {
    margin-top: 200px;
    text-transform: uppercase;
    color: greenyellow;
    font-weight: normal; }

.back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%; }
  .back__dot {
    background: white;
    border-radius: 50%; }
    .back__dot-1 {
      width: 100px;
      height: 100px;
      opacity: .2;
      -webkit-animation: dot_one 9s 1s infinite linear;
      -moz-animation: dot_one 9s 1s infinite linear;
      -ms-animation: dot_one 9s 1s infinite linear;
      -o-animation: dot_one 9s 1s infinite linear;
      animation: dot_one 9s 1s infinite linear; }
    .back__dot-2 {
      width: 80px;
      height: 80px;
      opacity: .25;
      -webkit-animation: dot_two 10s 1s infinite linear;
      -moz-animation: dot_two 10s 1s infinite linear;
      -ms-animation: dot_two 10s 1s infinite linear;
      -o-animation: dot_two 10s 1s infinite linear;
      animation: dot_two 10s 1s infinite linear; }
    .back__dot-3 {
      width: 60px;
      height: 60px;
      opacity: .3;
      -webkit-animation: dot_three 11s 1s infinite linear;
      -moz-animation: dot_three 11s 1s infinite linear;
      -ms-animation: dot_three 11s 1s infinite linear;
      -o-animation: dot_three 11s 1s infinite linear;
      animation: dot_three 11s 1s infinite linear; }
    .back__dot-4 {
      width: 60px;
      height: 60px;
      opacity: .35;
      -webkit-animation: dot_four 12s 1s infinite linear;
      -moz-animation: dot_four 12s 1s infinite linear;
      -ms-animation: dot_four 12s 1s infinite linear;
      -o-animation: dot_four 12s 1s infinite linear;
      animation: dot_four 20s 1s infinite linear; }
    .back__dot-5 {
      width: 60px;
      height: 60px;
      opacity: .4;
      -webkit-animation: dot_five 15s 1s infinite linear;
      -moz-animation: dot_five 15s 1s infinite linear;
      -ms-animation: dot_five 15s 1s infinite linear;
      -o-animation: dot_five 15s 1s infinite linear;
      animation: dot_five 15s 1s infinite linear; }
  .back__level {
    width: 100%;
    height: 100%;
    position: absolute; }
    .back__level-1 {
      z-index: 1;
      -webkit-animation: level 6s 1s infinite linear alternate-reverse;
      -moz-animation: level 6s 1s infinite linear alternate-reverse;
      -ms-animation: level 6s 1s infinite linear alternate-reverse;
      -o-animation: level 6s 1s infinite linear alternate-reverse;
      animation: level 6s 1s infinite linear alternate-reverse; }
    .back__level-2 {
      z-index: 2;
      -webkit-animation: level_one 15s 1s infinite linear alternate-reverse;
      -moz-animation: level_one 15s 1s infinite linear alternate-reverse;
      -ms-animation: level_one 15s 1s infinite linear alternate-reverse;
      -o-animation: level_one 15s 1s infinite linear alternate-reverse;
      animation: level_one 15s 1s infinite linear alternate-reverse; }

.header, .section, .footer {
  width: 90%;
  padding: 1% 5%; }

.header__text {
  font-size: 1rem; }
.header .nav {
  margin-top: 10px; }
  @media (max-width: 768px) {
    .header .nav {
      margin-top: 2rem; } }
  .header .nav__link span {
    margin: 0 .2rem; }

.section a {
  text-decoration: underline; }
.section__text_big {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px; }
  @media (max-width: 480px) {
    .section__text_big {
      margin: 2rem 0;
      font-size: 1.5rem; } }
.section__text_medium {
  text-transform: uppercase; }
  @media (max-width: 480px) {
    .section__text_medium {
      margin: 2rem 0;
      font-size: 1.2rem; } }
.section__list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 30px; }
  .section__list__item {
    display: block;
    width: 100%;
    margin: 5px 0;
    color: grey; }
.section__line {
  border: none;
  border-top: 4px solid white;
  width: 50%;
  display: block;
  margin: 10rem 0 2rem 0; }
  @media (max-width: 768px) {
    .section__line {
      width: 100%;
      margin: 4rem 0 2rem 0; } }
  @media (max-width: 480px) {
    .section__line {
      width: 100%;
      margin: 3rem 0; } }
.section__button {
  background: mediumvioletred;
  padding: 1rem;
  margin: 2rem 0 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.02rem;
  border-radius: 2%;
  color: white;
  -webkit-animation: constant_hor 4s 1s infinite linear alternate;
  -moz-animation: constant_hor 4s 1s infinite linear alternate;
  -ms-animation: constant_hor 4s 1s infinite linear alternate;
  -o-animation: constant_hor 4s 1s infinite linear alternate;
  animation: constant_hor 4s 1s infinite linear alternate;
  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: linear; }
  .section__button:hover {
    color: black; }
  @media (max-width: 480px) {
    .section__button {
      background-color: mediumvioletred;
      -webkit-animation: btn_contact_mobile 4s 1s infinite linear alternate;
      -moz-animation: btn_contact_mobile 4s 1s infinite linear alternate;
      -ms-animation: btn_contact_mobile 4s 1s infinite linear alternate;
      -o-animation: btn_contact_mobile 4s 1s infinite linear alternate;
      animation: btn_contact_mobile 4s 1s infinite linear alternate; } }
.section__button {
  margin: 2rem 0 1rem; }
.section__buttonList {
  margin: 0; }

.footer__text {
  font-size: 0.75rem; }

/*** ICON FONT *****/
.icon-location:before {
  content: "\e901"; }

.icon-facebook3:before {
  content: "\e903"; }

.icon-instagram:before {
  content: "\e904"; }

.icon-twitter:before {
  content: "\e905"; }

.icon-github:before {
  content: "\e908"; }

.icon-tumblr2:before {
  content: "\e909"; }

.icon-linkedin:before {
  content: "\e90b"; }

.icon-be:before {
  content: "\e900";
  font-size: 1.5em;
  margin-top: 5px; }

.icon-heart:before {
  content: "\e902";
  color: red; }

.icon-pm:before {
  content: "\e906"; }

.icon-runner:before {
  content: "\e907";
  -webkit-animation: fade_right 4s 1s linear alternate;
  -moz-animation: fade_right 4s 1s linear alternate;
  -ms-animation: fade_right 4s 1s linear alternate;
  -o-animation: fade_right 4s 1s linear alternate;
  animation: fade_right 4s 1s linear alternate; }
  @media (max-width: 480px) {
    .icon-runner:before {
      display: none; } }

/*# sourceMappingURL=style.css.map */
