@charset "UTF-8";
/*
author: Silvana Ramírez silvana.ramirez85@gmail.com
year: 2016
credits normalize.scss - https://github.com/guerrero/normalize.scss
*/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
constant_hor = Constantly moving horizontally
fade_right = moves right and fades
*/
@keyframes constant_hor {
  0% {
    background: mediumvioletred;
    margin-left: 0; }
  50% {
    background: deeppink;
    margin-left: 5rem; }
  100% {
    background: darkviolet;
    margin-left: 0rem; } }
@keyframes btn_contact_mobile {
  0% {
    background: mediumvioletred;
    margin-left: -5rem; }
  50% {
    background: deeppink;
    margin-left: 8rem; }
  100% {
    background: darkviolet;
    margin-left: -5rem; } }
@keyframes fade_right {
  0% {
    opacity: 1;
    margin-left: 0; }
  100% {
    opacity: 0;
    margin-left: 700px; } }
/*
Dots for Background
*/
@keyframes level {
  0% {
    opacity: .2;
    transform: initial; }
  25% {
    opacity: .6; }
  50% {
    opacity: .3;
    -webkit-transform: translate(5%) rotate(40deg);
    transform: translate(5%) rotate(40deg); }
  75% {
    opacity: .6; }
  100% {
    opacity: .2;
    transform: initial; } }
@keyframes level_one {
  0% {
    opacity: .7; }
  25% {
    opacity: .8; }
  50% {
    opacity: .9;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  75% {
    opacity: .4; }
  100% {
    opacity: .7; } }
@keyframes dot_one {
  0% {
    opacity: .2;
    transform: initial; }
  50% {
    opacity: .3;
    -webkit-transform: scale(2, 2) translate(500px, 200px);
    transform: scale(2, 2) translate(500px, 200px); }
  100% {
    opacity: .2;
    transform: initial; } }
@keyframes dot_two {
  0% {
    opacity: .25;
    transform: initial; }
  60% {
    opacity: .4;
    -webkit-transform: scale(3, 3) translate(300px, 100px);
    transform: scale(3, 3) translate(300px, 100px); }
  100% {
    opacity: .25;
    transform: initial; } }
@keyframes dot_three {
  0% {
    opacity: .25;
    transform: initial; }
  60% {
    opacity: .4;
    -webkit-transform: scale(4, 4) translate(-300px, -100px);
    transform: scale(4, 4) translate(-300px, -100px); }
  100% {
    opacity: .25;
    transform: initial; } }
@keyframes dot_four {
  0% {
    opacity: .35;
    transform: initial; }
  30% {
    opacity: .4;
    -webkit-transform: scale(10, 10) translate(-500px, -300px);
    transform: scale(10, 10) translate(-500px, -300px); }
  100% {
    opacity: .35;
    transform: initial; } }
@keyframes dot_five {
  0% {
    opacity: .35;
    transform: initial; }
  30% {
    opacity: .4;
    -webkit-transform: scale(8, 8) translate(-100px, -100px);
    transform: scale(8, 8) translate(-100px, -100px); }
  100% {
    opacity: .35;
    transform: initial; } }
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?jonav");
  src: url("fonts/icomoon.eot?jonav#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?jonav") format("truetype"), url("fonts/icomoon.woff?jonav") format("woff"), url("fonts/icomoon.svg?jonav#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*General Styles*/
html, body, ul, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: black;
  font-size: 14px;
  color: white; }
  @media (max-width: 480px) {
    body {
      text-align: center; } }

a, p, h1, h2, h3 {
  color: white; }
  @media (max-width: 480px) {
    a, p, h1, h2, h3 {
      text-align: center; } }

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear; }
  a:hover {
    color: greenyellow; }

ul {
  list-style: none;
  dsiplay: flex; }
  @media (max-width: 768px) {
    ul {
      justify-content: center;
      margin-top: 2rem; } }
  ul li {
    display: inline-block;
    color: white;
    width: 100%; }

.content {
  display: block;
  max-width: 970px;
  width: 90%;
  margin: 0 auto;
  padding-top: 2%; }

.cover {
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
  vertical-align: middle; }
  .cover__title {
    margin-top: 200px;
    text-transform: uppercase;
    color: greenyellow;
    font-weight: normal; }

.back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%; }
  .back__dot {
    background: white;
    border-radius: 50%; }
    .back__dot-1 {
      width: 100px;
      height: 100px;
      opacity: .2;
      -webkit-animation: dot_one 9s 1s infinite linear;
      -moz-animation: dot_one 9s 1s infinite linear;
      -ms-animation: dot_one 9s 1s infinite linear;
      -o-animation: dot_one 9s 1s infinite linear;
      animation: dot_one 9s 1s infinite linear; }
    .back__dot-2 {
      width: 80px;
      height: 80px;
      opacity: .25;
      -webkit-animation: dot_two 10s 1s infinite linear;
      -moz-animation: dot_two 10s 1s infinite linear;
      -ms-animation: dot_two 10s 1s infinite linear;
      -o-animation: dot_two 10s 1s infinite linear;
      animation: dot_two 10s 1s infinite linear; }
    .back__dot-3 {
      width: 60px;
      height: 60px;
      opacity: .3;
      -webkit-animation: dot_three 11s 1s infinite linear;
      -moz-animation: dot_three 11s 1s infinite linear;
      -ms-animation: dot_three 11s 1s infinite linear;
      -o-animation: dot_three 11s 1s infinite linear;
      animation: dot_three 11s 1s infinite linear; }
    .back__dot-4 {
      width: 60px;
      height: 60px;
      opacity: .35;
      -webkit-animation: dot_four 12s 1s infinite linear;
      -moz-animation: dot_four 12s 1s infinite linear;
      -ms-animation: dot_four 12s 1s infinite linear;
      -o-animation: dot_four 12s 1s infinite linear;
      animation: dot_four 20s 1s infinite linear; }
    .back__dot-5 {
      width: 60px;
      height: 60px;
      opacity: .4;
      -webkit-animation: dot_five 15s 1s infinite linear;
      -moz-animation: dot_five 15s 1s infinite linear;
      -ms-animation: dot_five 15s 1s infinite linear;
      -o-animation: dot_five 15s 1s infinite linear;
      animation: dot_five 15s 1s infinite linear; }
  .back__level {
    width: 100%;
    height: 100%;
    position: absolute; }
    .back__level-1 {
      z-index: 1;
      -webkit-animation: level 6s 1s infinite linear alternate-reverse;
      -moz-animation: level 6s 1s infinite linear alternate-reverse;
      -ms-animation: level 6s 1s infinite linear alternate-reverse;
      -o-animation: level 6s 1s infinite linear alternate-reverse;
      animation: level 6s 1s infinite linear alternate-reverse; }
    .back__level-2 {
      z-index: 2;
      -webkit-animation: level_one 15s 1s infinite linear alternate-reverse;
      -moz-animation: level_one 15s 1s infinite linear alternate-reverse;
      -ms-animation: level_one 15s 1s infinite linear alternate-reverse;
      -o-animation: level_one 15s 1s infinite linear alternate-reverse;
      animation: level_one 15s 1s infinite linear alternate-reverse; }

.header, .section, .footer {
  width: 90%;
  padding: 1% 5%; }

.header__text {
  font-size: 1rem; }
.header .nav {
  margin-top: 10px; }
  @media (max-width: 768px) {
    .header .nav {
      margin-top: 2rem; } }
  .header .nav__link li {
    display: inline-block;
    width: auto; }
  .header .nav__link span {
    margin: 0 .2rem; }

.section__text_big {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5em;
  letter-spacing: 1px; }
  @media (max-width: 480px) {
    .section__text_big {
      margin: 2rem 0;
      font-size: 1.5rem; } }
.section__text_medium {
  text-transform: uppercase;
  font-size: 1.3em; }
  @media (max-width: 480px) {
    .section__text_medium {
      margin: 2rem 0;
      font-size: 1.2rem; } }
.section__list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 30px; }
  .section__list__item {
    display: block;
    width: 100%;
    margin: 5px 0;
    color: grey; }
.section__line {
  border: none;
  border-top: 4px solid white;
  width: 50%;
  display: block;
  margin: 4em 0 2em 0; }
  @media (max-width: 768px) {
    .section__line {
      width: 100%;
      margin: 4rem 0 2rem 0; } }
  @media (max-width: 480px) {
    .section__line {
      width: 100%;
      margin: 3rem 0; } }
.section__button {
  background: mediumvioletred;
  padding: 1rem;
  margin: 2em 0 1em;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.02rem;
  border-radius: 2%;
  color: white;
  -webkit-animation: constant_hor 4s 1s infinite linear alternate;
  -moz-animation: constant_hor 4s 1s infinite linear alternate;
  -ms-animation: constant_hor 4s 1s infinite linear alternate;
  -o-animation: constant_hor 4s 1s infinite linear alternate;
  animation: constant_hor 4s 1s infinite linear alternate;
  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: linear; }
  .section__button:hover {
    color: black; }
  @media (max-width: 480px) {
    .section__button {
      background-color: mediumvioletred;
      -webkit-animation: btn_contact_mobile 4s 1s infinite linear alternate;
      -moz-animation: btn_contact_mobile 4s 1s infinite linear alternate;
      -ms-animation: btn_contact_mobile 4s 1s infinite linear alternate;
      -o-animation: btn_contact_mobile 4s 1s infinite linear alternate;
      animation: btn_contact_mobile 4s 1s infinite linear alternate; } }
.section__button {
  margin: 2rem 0 1rem; }
.section__buttonList {
  margin: 0; }

.footer__text {
  font-size: 0.75rem; }

/*** ICON FONT *****/
.icon-location:before {
  content: "\e901"; }

.icon-facebook3:before {
  content: "\e903"; }

.icon-instagram:before {
  content: "\e904"; }

.icon-twitter:before {
  content: "\e905"; }

.icon-github:before {
  content: "\e908"; }

.icon-tumblr2:before {
  content: "\e909"; }

.icon-linkedin:before {
  content: "\e90b"; }

.icon-be:before {
  content: "\e900";
  font-size: 1.5em;
  margin-top: 5px; }

.icon-heart:before {
  content: "\e902";
  color: red; }

.icon-pm:before {
  content: "\e906"; }

.icon-runner:before {
  content: "\e907";
  -webkit-animation: fade_right 4s 1s linear alternate;
  -moz-animation: fade_right 4s 1s linear alternate;
  -ms-animation: fade_right 4s 1s linear alternate;
  -o-animation: fade_right 4s 1s linear alternate;
  animation: fade_right 4s 1s linear alternate; }
  @media (max-width: 480px) {
    .icon-runner:before {
      display: none; } }

/* SPECIFIC STYLES */
