// Author: Silvana Ramírez
// Cruise app 

$yellow: #ff9900;

p, h1, h2, h3, h4, h5, img, ul, li{
	text-decoration: none;
	margin:0;
	padding:0;
	border: none;
	list-style: none;
}

body{
	background: #d6d6d6;
	font-family: 'Lato', sans-serif;

	.columns{
		padding: 0;
	}

	.app{

		&__header{
			background: midnightblue;
			color: white;
			text-align: center;
			padding: 0.5rem 0;

			&__title{
				font-size: 1.8rem;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		&__title{
			width: 90%;
			margin: .3% auto;

			&__title{
					font-size: 36px;
					font-weight: bold;
					display: inline-block;
					padding: 20px 0;
				}

				&__text{
					font-size: 16px;
					color: #3c3c3c;
					display: inline-block;
				}
		}

		&__opt{
			position: relative;
			background: white;

			&__value{
				position: absolute;
				right:-10px;
				top: 40px;
				z-index: 100;

				background: $yellow;
				padding: .5rem;

				.vValue{
					font-size: 40px;
					font-weight: bold;
					letter-spacing: 0.5;
					margin: 0;
					padding: 0;
				}

				.vText{
					font-size: 12px;
					margin: 0;
					padding: 0;
				}
			}

			&__desc{
				padding: 1rem;

				.dText{
					font-size: 12px;
				}
				.dTitle{
					font-size: 28px;
					font-weight: bold;
				}
			}
		}


	}
}